*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.navbar{
    padding: 45px 100px;
    background-color: rgba(2, 32, 87, 0.5);
    display: flex;
    justify-content: space-between;
    flex-direction:  row;
    align-items: center;
    height: 60px;
    color: white;
    font-weight: bold;   
}
.navbar i{
    cursor: pointer;
}

.cart{
    font-size: 40px;
    position: relative;
    padding: 20px;
}

.cartAmount
{
    position: absolute;
     top: 8px;
     right: 8px;
     background-color: black;
     font-size: 16px;
     background-color: rgb(5, 161, 161);
     padding: 3px;
     border-radius: 5px;
}

.shop{
    display: grid;
    grid-template-columns: repeat(4, 222px);
    gap: 30px;
     margin-top: 50px;
    justify-content: center;
    margin-bottom: 100px;

}


@media screen and (max-width: 1000px)
{  .shop{
     grid-template-columns : repeat(2, 222px);
     .footer{
        height: 120px;
     }
}
}

@media screen and (max-width: 500px)
{  .shop{
     grid-template-columns : repeat(1, 222px);
}

      .navbar{
        padding: 45px 40px;
      }

      .footer{
        height: 90px;
      }
}
.item{
    /* border: 2px solid black; */
    border-radius: 10px;
    overflow: hidden;
 box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}



.details
{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.details h3{
    margin-bottom: 10px;
}
.details p {
    margin: 10px 0px;
}
.price_quantity
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quantity{
    font-weight: bold;
}

.button .fa-minus
{
    color: red;
    cursor: pointer;

}

.button .fa-plus
{
    color: green;
    cursor: pointer;
}

.footer
{
    height: 160px;
    background-color: rgb(1, 1, 51);
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
}